<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.yh.library">

    <application>
        <provider
            android:name=".view.webview.AgentWebFileProvider"
            android:authorities="${applicationId}.AgentWebFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/web_download_paths"/>
        </provider>
    </application>

</manifest>
