<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.yh.yhframe">
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读取 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 拍照 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">

        <!--
        自定义 GlideModule 的好处：
              1、可以全局的改变 glide 的加载策略
              2、可以自定义磁盘缓存目录
              3、可以设置图片加载的质量
        -->
        <meta-data
            android:name="org.yh.library.img.YHGlideModule"
            android:value="GlideModule"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".DemoActivity"
            android:label="@string/title_activity_demo">
        </activity>
        <activity android:name=".YHRecyclerviewActivity"/>
        <activity android:name=".HTML5WebViewCustomAD"/>
        <activity android:name=".ListActivity">
        </activity>
        <activity android:name=".ListRecycleActivity">
        </activity>
        <!-- 视频播放 -->
        <activity
            android:name=".VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".VidoRecyclerViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".service.MyIntentService"
            android:exported="false">
        </service>

        <activity android:name=".ConstraintActivity">
        </activity>
    </application>

</manifest>